In [1]:

import pandas as pd
import re
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import SelectKBest, chi2



import numpy as np
import pandas as pd
import scipy.sparse as sp
import matplotlib.pyplot as plt
%matplotlib inline



# natural language toolkit
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from nltk.tag import pos_tag_sents
from nltk.stem import WordNetLemmatizer

# SciKit-Learn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

from skopt import gp_minimize, forest_minimize, dummy_minimize

import pandas as pd

train = pd.read_csv('train.csv')


test = pd.read_csv('test.csv')


#train

##### com pre proc

In [2]:
#preprocessing


comment_data = train

#clean
comment_data['prep'] = comment_data['comment'].str.replace(r'[^\w\s]+', '') # tira td que nao palavra e espaco em branco
comment_data['prep'] = comment_data['prep'].str.lower()
comment_data['prep'] = comment_data['prep'].str.replace('(\d+)', ' num ')
comment_data['prep'] = comment_data['prep'].str.replace(r'http(?<=http).*', ' ')
comment_data['prep'] = comment_data['prep'].str.replace(r'\s+', " ")
comment_data['prep'] = comment_data['prep'].str.replace(" +", " ")

#comment_data





test_data = pd.read_csv('test.csv')
#clean
test_data['prep'] = test_data['comment'].str.replace(r'[^\w\s]+', '')
test_data['prep'] = test_data['prep'].str.lower()
test_data['prep'] = test_data['prep'].str.replace('(\d+)', ' num ')
test_data['prep'] = test_data['prep'].str.replace(r'http(?<=http).*', ' ')
test_data['prep'] = test_data['prep'].str.replace(r'\s+', " ")
test_data['prep'] = test_data['prep'].str.replace(" +", " ")

In [3]:
lemmatizer = WordNetLemmatizer()
tt = TweetTokenizer()
def lemmatize_col(row):
    row = tt.tokenize(row)
    return ' '.join([lemmatizer.lemmatize(w) for w in row])

comment_data['prep'] = comment_data['prep'].apply(lemmatize_col)
test_data['prep'] = test_data['prep'].apply(lemmatize_col) ###grande FDP

# stopwords
stop = stopwords.words('english')
comment_data['prep'] = comment_data['prep'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
test_data['prep'] = test_data['prep'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [4]:
clean_data = comment_data['prep'].to_numpy()
clean_labels = comment_data['subreddit'].to_numpy()
clean_test = test_data['prep'].to_numpy()

In [10]:
#LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.preprocessing import Normalizer



param_dist = { 'clf__penalty': ['l2'],
              'clf__loss' : ['hinge', 'squared_hinge'],
              'clf__C' : np.linspace(0.1,2,5),}


pipeline_LinearSVC = Pipeline([
                     ('vect', CountVectorizer(ngram_range=(1,2), min_df = 10, max_df = 1.)),
                     ('tfidf', TfidfTransformer()),
                     ('norm', Normalizer()),
                     ('clf', LinearSVC(random_state=0))
])


grid_search = RandomizedSearchCV(pipeline_LinearSVC, param_dist, n_jobs=-1, verbose=1, cv=3, scoring='accuracy')
grid_search.fit(clean_data, clean_labels)

import time

start_time = time.time()

              
print(grid_search.best_score_)
print(grid_search.cv_results_)

previsoes_test_pre_proc=grid_search.predict(clean_test)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:  7.3min finished

0.44108333333333327
{'mean_fit_time': array([53.05908418, 17.06678152, 80.83308268, 25.01031343, 99.83305629,
       30.36058156, 91.03038128, 30.93642847, 75.75728003, 23.35302178]), 'std_fit_time': array([1.46971987, 1.39998632, 2.55404485, 0.57691967, 2.41240064,
       2.41454276, 1.14542526, 1.96733421, 0.47638651, 5.01881578]), 'mean_score_time': array([3.17057268, 3.40252924, 4.40425237, 3.54931251, 4.17923951,
       3.78457212, 3.43580214, 3.42118247, 2.78780047, 2.45341412]), 'std_score_time': array([0.19167176, 0.0781308 , 0.17497332, 1.16934937, 0.13059424,
       0.59601594, 0.20097794, 0.87832855, 0.29233179, 0.71186117]), 'param_clf__penalty': masked_array(data=['l2', 'l2', 'l2', 'l2', 'l2', 'l2', 'l2', 'l2', 'l2',
                   'l2'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'param_clf__loss': masked_array(data=['hinge', 'squared_hinge', 'hinge', 'squared_hinge',
                   'hinge', 'squared_hinge', 'hinge', 'squared_hinge',
                   'hinge', 'squared_hinge'],
             mask=[False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'param_clf__C': masked_array(data=[0.1, 0.1, 0.575, 0.575, 1.05, 1.05, 1.525, 1.525, 2.0,
                   2.0],
             mask=[False, False, False, False, False, False, False, False,
                   False, False],
       fill_value='?',
            dtype=object), 'params': [{'clf__penalty': 'l2', 'clf__loss': 'hinge', 'clf__C': 0.1}, {'clf__penalty': 'l2', 'clf__loss': 'squared_hinge', 'clf__C': 0.1}, {'clf__penalty': 'l2', 'clf__loss': 'hinge', 'clf__C': 0.575}, {'clf__penalty': 'l2', 'clf__loss': 'squared_hinge', 'clf__C': 0.575}, {'clf__penalty': 'l2', 'clf__loss': 'hinge', 'clf__C': 1.05}, {'clf__penalty': 'l2', 'clf__loss': 'squared_hinge', 'clf__C': 1.05}, {'clf__penalty': 'l2', 'clf__loss': 'hinge', 'clf__C': 1.525}, {'clf__penalty': 'l2', 'clf__loss': 'squared_hinge', 'clf__C': 1.525}, {'clf__penalty': 'l2', 'clf__loss': 'hinge', 'clf__C': 2.0}, {'clf__penalty': 'l2', 'clf__loss': 'squared_hinge', 'clf__C': 2.0}], 'split0_test_score': array([0.4182 , 0.43745, 0.41865, 0.421  , 0.418  , 0.4106 , 0.41685,
       0.4023 , 0.41415, 0.39785]), 'split1_test_score': array([0.41865, 0.4371 , 0.42075, 0.42315, 0.41935, 0.4117 , 0.41775,
       0.4024 , 0.4143 , 0.39675]), 'split2_test_score': array([0.42885, 0.4487 , 0.4286 , 0.43375, 0.4285 , 0.4215 , 0.42635,
       0.41305, 0.42435, 0.40695]), 'mean_test_score': array([0.4219    , 0.44108333, 0.42266667, 0.42596667, 0.42195   ,
       0.4146    , 0.42031667, 0.40591667, 0.4176    , 0.40051667]), 'std_test_score': array([0.00491782, 0.00538769, 0.0042822 , 0.0055732 , 0.00466423,
       0.00489966, 0.004282  , 0.00504419, 0.00477336, 0.00457117]), 'rank_test_score': array([ 5,  1,  3,  2,  4,  8,  6,  9,  7, 10], dtype=int32)}

In [ ]:
#results

#cv=10 ... 0.4850833333333334
#0.44108333333333327


#0.4543166666666666

In [1]:
#Steem

In [34]:
#stop

#### SEM PRE PROC

In [37]:
#LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.preprocessing import Normalizer
norm=Normalizer()
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

#tentar o TfidfVectorizer no lugar do CountVectorizer

#parameters = {'kernel':('linear', 'rbf'), 'C':[1, 10]}

'''distributions = dict(C=uniform(loc=0, scale=4),
                      penalty=['l2', 'l1'])'''

pipeline_LinearSVC = Pipeline([
                     ('vect', CountVectorizer()),
                     #('scaler',StandardScaler()),
                     #('chi',  SelectKBest(chi2, k=10000)),
                     ('tfidf', TfidfTransformer()),
                     ('norm', Normalizer()),
                     ('clf', LinearSVC(C=1.0, penalty='l1', max_iter=3000, dual=False,random_state=0))
                    #,('clf', LinearSVC(random_state=0))
])
#('clf', LinearSVC(C=1.0, penalty='l1', max_iter=3000, dual=False))])

grid_search = GridSearchCV(pipeline_LinearSVC, {}, n_jobs=-1, verbose=1, cv=5, scoring='accuracy')
grid_search.fit(train['comment'], train['subreddit'])
print(grid_search.best_score_)
print(grid_search.cv_results_)

previsoes_test=grid_search.predict(test['comment'])

'''{}= aqui tem q colocar os parametros a testar
parameters ={}
testar random grid'''
#clf = RandomizedSearchCV(logistic, distributions, random_state=0)

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:  1.6min finished

0.4946833333333333
{'mean_fit_time': array([53.91757889]), 'std_fit_time': array([10.58227763]), 'mean_score_time': array([0.68023701]), 'std_score_time': array([0.23779654]), 'params': [{}], 'split0_test_score': array([0.49516667]), 'split1_test_score': array([0.48891667]), 'split2_test_score': array([0.49216667]), 'split3_test_score': array([0.50216667]), 'split4_test_score': array([0.495]), 'mean_test_score': array([0.49468333]), 'std_test_score': array([0.00438001]), 'rank_test_score': array([1], dtype=int32)}

'{}= aqui tem q colocar os parametros a testar\nparameters ={}\ntestar random grid'

In [51]:

train = pd.read_csv('train.csv')


test = pd.read_csv('test.csv')


features=train['comment']
target = train['subreddit']

,id,comment,subreddit
0,0,I think prestige points should not expire ever...,leagueoflegends
1,1,Whats going to happen with them if they will b...,europe
2,2,Anecdotal evidence is anecdotal. Clearly by “e...,gameofthrones
3,3,"Look dude, with all due respect, your music is...",Music
4,4,Hope he gets the doomhammer back!,wow
...,...,...,...
59995,59995,Yo this guy Luka pretty good,nba
59996,59996,Unplug these things right now,funny
59997,59997,Well said. Do you think they’ll resonate with ...,movies
59998,59998,So we can impeach a president for lying? Pleas...,worldnews
59999,59999,"Too broad dude, get ready for the shit my pant...",AskReddit

In [ ]:
***********************

In [2]:
#À partir d'ici je reccomence le Linear SVC sans Cross Validation et avec train_test_split et j'ai fait une analyse pour voir dans quelles catégories
#le modèle va mieux et dans quelles il est mauvais

In [ ]:
**********************

In [52]:
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.preprocessing import Normalizer
norm=Normalizer()
from sklearn.preprocessing import StandardScaler
vect=CountVectorizer()
tfidf=TfidfTransformer()


features=vect.fit_transform(features)

features=tfidf.fit_transform(features)

features=norm.fit_transform(features)

In [77]:
from sklearn.model_selection import train_test_split
previsores_train, previsores_valid, classe_train, classe_valid = train_test_split(features, target, test_size=0.20, random_state=0)

In [54]:
#classifier


clf=LinearSVC(C=1.0, penalty='l1', max_iter=3000, dual=False,random_state=0)

clf.fit(previsores_train,classe_train)

label_predict=clf.predict(previsores_valid)

In [55]:
acuracia=accuracy_score(classe_valid,label_predict)
print('Exactitude: ',acuracia)

acuracia:  0.49725

In [35]:
acuracia:  0.49725

In [72]:
label_predict

       previsoes
0         hockey
1         movies
2       baseball
3         europe
4      Overwatch
...          ...
11995        nfl
11996      funny
11997      anime
11998   baseball
11999  worldnews

[12000 rows x 1 columns]

In [44]:

label_predict

array(['hockey', 'movies', 'baseball', ..., 'anime', 'baseball',
       'worldnews'], dtype=object)

In [73]:

label_predict = pd.DataFrame(label_predict,columns=['previsoes'])
'''
previsoes_test['Id'] = previsoes_test.index

previsoes_test = previsoes_test.reindex(columns=['Id', 'Category'])

previsoes_test.to_csv('linear_svc_17jul_2.csv', index=False)
'''

label_predict

       previsoes
0         hockey
1         movies
2       baseball
3         europe
4      Overwatch
...          ...
11995        nfl
11996      funny
11997      anime
11998   baseball
11999  worldnews

[12000 rows x 1 columns]

In [80]:
classe_valid2 = pd.DataFrame(classe_valid)




classe_valid2['previsao']=label_predict
classe_valid2

       subreddit previsao
3048      hockey      nba
19563     movies      NaN
58303   baseball      NaN
8870      europe      wow
40228  Overwatch      NaN
...          ...      ...
47049        nfl      NaN
31629      trees      NaN
50430      anime      NaN
21574   baseball      NaN
10617      anime   canada

[12000 rows x 2 columns]

In [63]:
classe_valid

3048        hockey
19563       movies
58303     baseball
8870        europe
40228    Overwatch
           ...
47049          nfl
31629        trees
50430        anime
21574     baseball
10617        anime
Name: subreddit, Length: 12000, dtype: object

In [10]:
classe_valid2.describe()
classe_valid

3048        hockey
19563       movies
58303     baseball
8870        europe
40228    Overwatch
           ...
47049          nfl
31629        trees
50430        anime
21574     baseball
10617        anime
Name: subreddit, Length: 12000, dtype: object

In [79]:
classe_valid2 = pd.DataFrame(classe_valid)

In [69]:
classe_valid['1']=1
classe_valid.groupby(['subreddit']).count()

KeyError: 'subreddit'

In [70]:
classe_valid2['Id'] = classe_valid2.index
classe_valid2

       subreddit previsao     Id
3048      hockey      nba   3048
19563     movies      NaN  19563
58303   baseball      NaN  58303
8870      europe      wow   8870
40228  Overwatch      NaN  40228
...          ...      ...    ...
47049        nfl      NaN  47049
31629      trees      NaN  31629
50430      anime      NaN  50430
21574   baseball      NaN  21574
10617      anime   canada  10617

[12000 rows x 3 columns]

In [107]:
classe_valid2['igual']= np.where(classe_valid2['previsao']==classe_valid2['subreddit'],1,0)

In [165]:
acertos=classe_valid2.groupby(['subreddit']).sum()
acertos.sort_values(by='subreddit')

                       Id  igual
subreddit
AskReddit        17636754    117
GlobalOffensive  18140416    333
Music            19110665    304
Overwatch        18454745    370
anime            18732233    348
baseball         17815772    376
canada           17330563    275
conspiracy       16230416    173
europe           17760953    288
funny            18543759    114
gameofthrones    17883785    302
hockey           19345930    323
leagueoflegends  17762439    389
movies           17244947    314
nba              17411862    348
nfl              17980673    332
soccer           18678996    331
trees            18210804    330
worldnews        17133584    220
wow              18027439    380

In [164]:
count=classe_valid.groupby(['subreddit']).count()
count.sort_values(by='subreddit')

                   1
subreddit
AskReddit        590
GlobalOffensive  592
Music            630
Overwatch        608
anime            608
baseball         601
canada           588
conspiracy       541
europe           595
funny            609
gameofthrones    589
hockey           623
leagueoflegends  618
movies           584
nba              599
nfl              604
soccer           613
trees            618
worldnews        590
wow              600

In [170]:

acertos['count_subreddit']=count['1']
acertos['%_acertos']=acertos['igual']/acertos['count_subreddit']

acertos.sort_values(by='%_acertos',ascending=True)

                       Id  igual  count_subreddit  %_acertos
subreddit
funny            18543759    114              609   0.187192
AskReddit        17636754    117              590   0.198305
conspiracy       16230416    173              541   0.319778
worldnews        17133584    220              590   0.372881
canada           17330563    275              588   0.467687
Music            19110665    304              630   0.482540
europe           17760953    288              595   0.484034
gameofthrones    17883785    302              589   0.512733
hockey           19345930    323              623   0.518459
trees            18210804    330              618   0.533981
movies           17244947    314              584   0.537671
soccer           18678996    331              613   0.539967
nfl              17980673    332              604   0.549669
GlobalOffensive  18140416    333              592   0.562500
anime            18732233    348              608   0.572368
nba              17411862    348              599   0.580968
Overwatch        18454745    370              608   0.608553
baseball         17815772    376              601   0.625624
leagueoflegends  17762439    389              618   0.629450
wow              18027439    380              600   0.633333

In [198]:
funny=classe_valid2.loc[train['subreddit']=='funny']
funny

      subreddit    previsao     Id  igual
35490     funny   AskReddit  35490      0
45995     funny   worldnews  45995      0
56925     funny       funny  56925      1
15274     funny      europe  15274      0
8110      funny   AskReddit   8110      0
...         ...         ...    ...    ...
41342     funny  conspiracy  41342      0
8017      funny       funny   8017      1
33673     funny      europe  33673      0
41983     funny      soccer  41983      0
54302     funny      europe  54302      0

[609 rows x 4 columns]

In [255]:
errou=funny.loc[funny['igual']==0]
errou=errou.join(train,lsuffix='_caller', rsuffix='_other')
errou=errou[['Id','subreddit_caller','previsao','comment']]
errou_comment=errou['comment']
errou_comment

35490    Exactly. I see a lot of people say stuff like,...
45995    The obesity I 100% agree with, but Johnson is ...
15274    I think you're misunderstanding the purpose of...
8110     Oh God why did you show me that? I could've go...
54044    Oh no!\n\nOn a side note, I'm really impressed...
                               ...
39377                        About 99% are the bottom one.
41342                       You are now banned from r/Sino
33673           No source because it was build in 2 months
41983    Is that... Ponce De Leon’s mythical fountain o...
54302                            This is russian I knew it
Name: comment, Length: 495, dtype: object

In [212]:
errou_comment

35490    Exactly. I see a lot of people say stuff like,...
45995    The obesity I 100% agree with, but Johnson is ...
15274    I think you're misunderstanding the purpose of...
8110     Oh God why did you show me that? I could've go...
54044    Oh no!\n\nOn a side note, I'm really impressed...
                               ...
39377                        About 99% are the bottom one.
41342                       You are now banned from r/Sino
33673           No source because it was build in 2 months
41983    Is that... Ponce De Leon’s mythical fountain o...
54302                            This is russian I knew it
Name: comment, Length: 495, dtype: object

In [215]:
#criacao da VAR TOTAL OF WORDS

errou['comment'].count()


errou['totalwords'] = errou['comment'].str.count(' ') + 1

errou

,Id,subreddit_caller,previsao,comment,totalwords
35490,35490,funny,AskReddit,"Exactly. I see a lot of people say stuff like,...",54
45995,45995,funny,worldnews,"The obesity I 100% agree with, but Johnson is ...",24
15274,15274,funny,europe,I think you're misunderstanding the purpose of...,88
8110,8110,funny,AskReddit,Oh God why did you show me that? I could've go...,18
54044,54044,funny,anime,"Oh no!\n\nOn a side note, I'm really impressed...",18
...,...,...,...,...,...
39377,39377,funny,leagueoflegends,About 99% are the bottom one.,6
41342,41342,funny,conspiracy,You are now banned from r/Sino,6
33673,33673,funny,europe,No source because it was build in 2 months,9
41983,41983,funny,soccer,Is that... Ponce De Leon’s mythical fountain o...,9
54302,54302,funny,europe,This is russian I knew it,6

In [ ]:
#Enquete sur les mots plus souvents trouvés dans chaque categorie

In [218]:
errou['totalwords'].describe()

count    495.000000
mean      19.288889
std       18.601385
min        1.000000
25%        7.000000
50%       12.000000
75%       25.000000
max      140.000000
Name: totalwords, dtype: float64

In [223]:
bons=funny.loc[funny['igual']==1]
bons=bons.join(train,lsuffix='_caller', rsuffix='_other')
bons=bons[['Id','subreddit_caller','previsao','comment']]


bons['comment'].count()


bons['totalwords'] = bons['comment'].str.count(' ') + 1

bons


bons['totalwords'].describe()

count    114.00000
mean      18.45614
std       17.25916
min        1.00000
25%        7.00000
50%       12.00000
75%       21.75000
max       78.00000
Name: totalwords, dtype: float64

In [228]:
#bons
errou

,Id,subreddit_caller,previsao,comment,totalwords
35490,35490,funny,AskReddit,"Exactly. I see a lot of people say stuff like,...",54
45995,45995,funny,worldnews,"The obesity I 100% agree with, but Johnson is ...",24
15274,15274,funny,europe,I think you're misunderstanding the purpose of...,88
8110,8110,funny,AskReddit,Oh God why did you show me that? I could've go...,18
54044,54044,funny,anime,"Oh no!\n\nOn a side note, I'm really impressed...",18
...,...,...,...,...,...
39377,39377,funny,leagueoflegends,About 99% are the bottom one.,6
41342,41342,funny,conspiracy,You are now banned from r/Sino,6
33673,33673,funny,europe,No source because it was build in 2 months,9
41983,41983,funny,soccer,Is that... Ponce De Leon’s mythical fountain o...,9
54302,54302,funny,europe,This is russian I knew it,6

In [229]:
#train.groupby('subreddit').apply(lambda x: x.sum())


bag_errou=errou.groupby('subreddit_caller')['comment'].apply(list)
bag_errou

subreddit_caller
funny    [Exactly. I see a lot of people say stuff like...
Name: comment, dtype: object

In [234]:
len(bag_errou)

1

In [301]:
errou['comment'].str.contains('https ' ,na=False,regex=True).sum()

0

In [256]:

errou.to_csv('errou.csv', index=False)

In [326]:
errou

,Id,subreddit_caller,previsao,comment
35490,35490,funny,AskReddit,"Exactly. I see a lot of people say stuff like,..."
45995,45995,funny,worldnews,"The obesity I 100% agree with, but Johnson is ..."
15274,15274,funny,europe,I think you're misunderstanding the purpose of...
8110,8110,funny,AskReddit,Oh God why did you show me that? I could've go...
54044,54044,funny,anime,"Oh no!\n\nOn a side note, I'm really impressed..."
...,...,...,...,...
39377,39377,funny,leagueoflegends,About 99% are the bottom one.
41342,41342,funny,conspiracy,You are now banned from r/Sino
33673,33673,funny,europe,No source because it was build in 2 months
41983,41983,funny,soccer,Is that... Ponce De Leon’s mythical fountain o...
54302,54302,funny,europe,This is russian I knew it

In [ ]:

label_predict = pd.DataFrame(label_predict, columns=['predicoes'])
'''
previsoes_test['Id'] = previsoes_test.index

previsoes_test = previsoes_test.reindex(columns=['Id', 'Category'])

previsoes_test.to_csv('linear_svc_17jul_2.csv', index=False)
'''

label_predict

In [10]:
#gerar arquivo 

previsoes_test = pd.DataFrame(previsoes_test, columns=['Category'])

previsoes_test['Id'] = previsoes_test.index

previsoes_test = previsoes_test.reindex(columns=['Id', 'Category'])

previsoes_test.to_csv('linear_svc_17jul_2.csv', index=False)